@import "tailwindcss";
@import "tw-animate-css";

/* ====================
   CSS Variables (Light Theme)
==================== */
:root {
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;

  
  --background: #ffffff;
  --foreground: #111827;
  --muted: #f9fafb;
  --muted-foreground: #6b7280;
  --border: #e5e7eb;
  --input: #f3f4f6;
  --ring: #2563eb;
  --radius: 0.5rem;
  --font-sans: 'Inter', system-ui, sans-serif;
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --color-primary: #2563eb; /* blue-600 */
  --color-primary-dark: #1e40af; /* blue-800 */
  --color-secondary: #4338ca; /* indigo-700 */
  --color-bg: #f0f4ff;
  --color-card: #ffffff;
  --color-text-primary: #1f2937; /* gray-800 */
  --color-text-secondary: #6b7280; /* gray-500 */
  --color-border: #e5e7eb; /* gray-100 */
  --shadow-xl: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
  --card-header: #2563eb;
  --sidebar-color-grad: linear-gradient(180deg, #002946, #002946f6, #005C8A);
  --light-gray: #f3f4f6;
}

/* ====================
   Utilities Layer
==================== */
@layer utilities {
  .bg-sidebar {
    background: var(--sidebar-color-grad);
  }
}

@layer utilities {
  .common-gray {
    background-color: var(--light-gray);
  }
}
/* ====================
   Base Layer
==================== */
@layer base {
  *, ::before, ::after {
    @apply border-gray-200 outline-none;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  html {
    font-family: var(--font-sans);
    @apply overflow-x-hidden bg-white text-black;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 16px !important;
    }
  }
}
